<div class="hero-area has-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <div class="hero-content" style="margin-top: 50px;">
          <h2><span class="primary-color">Construisez votre réussite</span></h2>
          <p class="text-white-50">Trouvez vos cours préférés et améliorez vos compétences</p>
          <form action="#">
            <div class="form-input mt-5">
              <input type="text" name="search" required placeholder="Entrez votre mot clé...">
              <button class="btn btn-primary btn-round" type="submit">Seacrh</button>
              <i class="fa fa-search"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
