<!-- offset search area start -->
<div class="offset-search">
    <form action="#">
        <input type="text" name="search" placeholder="Sarch here...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- offset search area end -->
<!-- body overlay area start -->
<div class="body_overlay"></div>
<!-- body overlay area end -->
<!-- hero area start -->
<div class="hero-area has-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="hero-content">
                    <h1 class="mb-5"><span class="primary-color">Construisez votre réussite</span><b class="line-break"></b></h1>
                    <p class="text-white-50">Trouvez vos cours préférés et améliorez vos compétences    </p>
                    <form action="#">
                        <div class="form-input mt-5">
                            <input type="text" name="search" required placeholder="Enter your keyword...">
                            <button class="btn btn-primary btn-round" type="submit">Seacrh</button>
                            <i class="fa fa-search"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero area end -->

<!-- about area start -->
<!-- <div class="about-area-style2 ptb--120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="about-content-style2 text-center has-color">
                    <div class="section-title-style mb-4">
                        <h2>Welcome to <b class="line-break"></b><span class="text-color">Edification</span> University</h2>
                    </div>
                    <p class="text-white-70">Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <a class="btn btn-light btn-round mt-3" href="#">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- about area end -->

<!-- course area start -->
<div class="course-area  ptb--120">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="section-title-style2 black-title title-tb text-center">
                    <span>build your career</span>
                    <h2 class="primary-color">Featured Courses</h2>
                </div>
            </div>
        </div>

        <div class="commn-carousel owl-carousel card-deck"> 
            <div class="card mb-5">
                <div class="course-thumb">
                    <img src="assets/images/course/cs-img1.jpg" alt="image">
                    <span class="cs-price primary-bg">$150</span>
                </div>
                <div class="card-body  p-25"> 
                    <div class="course-meta-title mb-4">
                        <div class="course-meta-text">
                            <h4><a href="course-details.html">Application Design Course</a></h4>
                            <ul class="course-meta-stats">
                                <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></li>
                                <li>36 <i class="fa fa-comment"></i></li>
                                <li>85 <i class="fa fa-heart"></i></li>
                            </ul>
                        </div> 
                        <a href="course-details.html"><img class="course-meta-thumbnail rounded-circle" src="assets/images/author/auth1.jpg" alt="image"> </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sciunt. Neque quisquam est, qui dolorem ipsum tatem.</p> 
                    <ul class="course-meta-details list-inline  w-100">
                        <li> 
                         <p>Course</p>
                         <span>3 Year</span>
                        </li>
                        <li>
                         <p>Class Size</p>
                          <span>18</span>
                        </li> 
                        <li>
                         <p>Duration</p>
                          <span>1 hour</span>
                        </li>      
                    </ul>  
              </div><!-- card-body -->
            </div><!-- card -->

            <div class="card mb-5">
                <div class="course-thumb">
                    <img src="assets/images/course/cs-img2.jpg" alt="image">
                    <span class="cs-price primary-bg">$150</span>
                </div>
                <div class="card-body  p-25"> 
                    <div class="course-meta-title mb-4">
                        <div class="course-meta-text">
                            <h4><a href="course-details.html">Data Structure & Algorithm</a></h4>
                            <ul class="course-meta-stats">
                                <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></li>
                                <li>36 <i class="fa fa-comment"></i></li>
                                <li>85 <i class="fa fa-heart"></i></li>
                            </ul>
                        </div> 
                        <a href="course-details.html"><img class="course-meta-thumbnail rounded-circle" src="assets/images/author/auth1.jpg" alt="image"> </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sciunt. Neque quisquam est, qui dolorem ipsum tatem.</p> 
                    <ul class="course-meta-details list-inline  w-100">
                        <li> 
                         <p>Course</p>
                         <span>3 Year</span>
                        </li>
                        <li>
                         <p>Class Size</p>
                          <span>18</span>
                        </li> 
                        <li>
                         <p>Duration</p>
                          <span>1 hour</span>
                        </li>      
                    </ul>  
              </div><!-- card-body -->
            </div><!-- card -->

            <div class="card mb-5">
                <div class="course-thumb">
                    <img src="assets/images/course/cs-img3.jpg" alt="image">
                    <span class="cs-price primary-bg">$150</span>
                </div>
                <div class="card-body  p-25"> 
                    <div class="course-meta-title mb-4">
                        <div class="course-meta-text">
                            <h4><a href="course-details.html">Android App Development</a></h4>
                            <ul class="course-meta-stats">
                                <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></li>
                                <li>36 <i class="fa fa-comment"></i></li>
                                <li>85 <i class="fa fa-heart"></i></li>
                            </ul>
                        </div> 
                        <a href="course-details.html"><img class="course-meta-thumbnail rounded-circle" src="assets/images/author/auth1.jpg" alt="image"> </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sciunt. Neque quisquam est, qui dolorem ipsum tatem.</p> 
                    <ul class="course-meta-details list-inline  w-100">
                        <li> 
                         <p>Course</p>
                         <span>3 Year</span>
                        </li>
                        <li>
                         <p>Class Size</p>
                          <span>18</span>
                        </li> 
                        <li>
                         <p>Duration</p>
                          <span>1 hour</span>
                        </li>      
                    </ul>  
              </div><!-- card-body -->
            </div><!-- card --> 
        </div> 
    </div>
</div>
<!-- course area end -->

<div class="testimonial-area ptb--50"><!-- testimonial area start -->
    <img class="tst-bg" src="assets/images/bg/tst-bg-shape.png" alt="image">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                    <div class="testimonial-content pb--40">
                        <div class="section-title sec-style-two">
                            <span class="text-uppercase primary-color mb-0">Happy students</span>
                            <h3>Sharing experiences, Building a community, Improving communication, Enhancing digital skills</h3>
                        </div>
                        <span class="text-uppercase primary-color mb-0">Start now</span>
                    </div> 
            </div><!-- row -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- testimonial-area --> 

<!-- blog area start -->
<div class="feature-blog  ptb--120">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="section-title-style2 black-title title-tb text-center">
                    <span>Top stories</span>
                    <h2>Blog & News</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="blog-carousel owl-carousel card-deck">                     
              <div class="card mb-5"> 
                <img class="card-img-top" src="assets/images/blog/blog-thumbnail1.jpg" alt="image">
                <div class="card-body p-25"> 
                    <ul class="list-inline primary-color mb-3">
                        <li><i class="fa fa-clock-o"></i> AUGUST 6, 2017</li>
                        <li><i class="fa fa-comments"></i> 3 Comments</li>
                    </ul>
                  <h4 class="card-title mb-4"><a href="blog.html">The Death Of architechture</a></h4>
                  <p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p> 
                  <a class="btn btn-primary btn-round btn-sm" href="blog-details.html"> Read More </a>
                </div>
              </div><!-- card -->                
              <div class="card mb-5"> 
                <img class="card-img-top" src="assets/images/blog/blog-thumbnail2.jpg" alt="image">
                <div class="card-body p-25"> 
                    <ul class="list-inline primary-color mb-3">
                        <li><i class="fa fa-clock-o"></i> AUGUST 6, 2017</li>
                        <li><i class="fa fa-comments"></i> 3 Comments</li>
                    </ul>
                  <h4 class="card-title mb-4"><a href="blog.html">Aenean id ullamcorper</a></h4>
                  <p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p> 
                  <a class="btn btn-primary btn-round btn-sm" href="blog-details.html"> Read More </a>
                </div>
              </div><!-- card -->
   
              <div class="card mb-5"> 
                <img class="card-img-top" src="assets/images/blog/blog-thumbnail3.jpg" alt="image">
                <div class="card-body p-25"> 
                    <ul class="list-inline primary-color mb-3">
                        <li><i class="fa fa-clock-o"></i> AUGUST 6, 2017</li>
                        <li><i class="fa fa-comments"></i> 3 Comments</li>
                    </ul>
                  <h4 class="card-title mb-4"><a href="blog.html">The Death Of architechture</a></h4>
                  <p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p> 
                  <a class="btn btn-primary btn-round btn-sm" href="blog-details.html"> Read More </a>
                </div>
              </div><!-- card -->         
              <div class="card mb-5"> 
                <img class="card-img-top" src="assets/images/blog/blog-thumbnail1.jpg" alt="image">
                <div class="card-body p-25"> 
                    <ul class="list-inline primary-color mb-3">
                        <li><i class="fa fa-clock-o"></i> AUGUST 6, 2017</li>
                        <li><i class="fa fa-comments"></i> 3 Comments</li>
                    </ul>
                  <h4 class="card-title mb-4"><a href="blog.html">The Death Of architechture</a></h4>
                  <p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p> 
                  <a class="btn btn-primary btn-round btn-sm" href="blog-details.html"> Read More </a>
                </div>
              </div><!-- card -->    
            </div><!-- blog-carousel -->
        </div><!-- blog-carousel -->

    </div>
</div> <!-- blog area end -->



<!-- take toure area start -->
<div class="take-toure-area ptb--120">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="section-title-style2 white-title text-center">
                    <span>Take A Look</span>
                    <h2>Video Tour on Edification </h2>
                </div>
            </div>
        </div>
        <div class="video-area">
            <a class="expand-video" href="https://www.youtube.com/watch?v=cdfMgotGKIM"><i class="fa fa-play"></i></a>
        </div>
    </div>
</div>
<!-- take toure area end -->

<!-- course area start -->
<div class="teacher-area pb--100">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="section-title-style2 black-title title-tb text-center">
                    <span>Learn from the best</span>
                    <h2 class="primary-color">Our teachers</h2>
                </div>
            </div>
        </div>
        <div class="commn-carousel owl-carousel card-deck">   
          <div class="card mb-5"> 
            <img src="assets/images/teacher/teacher-member1.jpg" alt="image"> 
            <div class="card-body teacher-content p-25">  
              <h4 class="card-title mb-4"><a href="teacher-details.html">Patrick Garner Dony</a></h4>
              <span class="primary-color d-block mb-4">Economist</span>
              <p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p> 
              <ul class="list-inline ">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-deviantart"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div><!-- card -->    

          <div class="card mb-5"> 
            <img src="assets/images/teacher/teacher-member2.jpg" alt="image"> 
            <div class="card-body teacher-content p-25">  
              <h4 class="card-title mb-4"><a href="teacher-details.html">Cameron Brown</a></h4>
              <span class="primary-color  d-block mb-4">Financier</span>
              <p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p> 
              <ul class="list-inline ">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-deviantart"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div><!-- card -->    

          <div class="card mb-5"> 
            <img src="assets/images/teacher/teacher-member3.jpg" alt="image"> 
            <div class="card-body teacher-content p-25">  
              <h4 class="card-title mb-4"><a href="teacher-details.html">Joseph Mack Monika</a></h4>
              <span class="primary-color d-block mb-4">Languages</span>
              <p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p> 
              <ul class="list-inline ">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-deviantart"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div><!-- card -->  
          <div class="card mb-5"> 
            <img src="assets/images/teacher/teacher-member4.jpg" alt="image"> 
            <div class="card-body teacher-content p-25">  
              <h4 class="card-title mb-4"><a href="teacher-details.html">Patrick Garner Dony</a></h4>
              <span class="primary-color d-block mb-4">Economist</span>
              <p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p> 
              <ul class="list-inline ">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-deviantart"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div><!-- card -->         
        </div>
    </div>
</div>
<!-- course area end -->

<!-- events area start -->
<div class="event-area  pt--120 pb--80">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="section-title-style2 black-title text-center">
                    <span>Join with us</span>
                    <h2>Upcoming Events</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="media align-items-center mb-5">
                    <div class="media-head primary-bg">
                        <span><sub>MAR</sub>25</span>
                        <p>2018</p>
                    </div>
                    <div class="media-body">
                        <h4><a href="#">Affiliate Marketing</a></h4>
                        <p><i class="fa fa-clock-o"></i>05:23 AM - 09:23 AM</p>
                    </div>
                </div> <!-- media -->
            </div><!-- col-md-6 -->
            <div class="col-md-6">
                <div class="media align-items-center mb-5">
                    <div class="media-head primary-bg">
                        <span><sub>OCT</sub>25</span>
                        <p>2018</p>
                    </div>
                    <div class="media-body">
                        <h4><a href="#">Facebook Marketing</a></h4>
                        <p><i class="fa fa-clock-o"></i>05:23 AM - 09:23 AM</p>
                    </div>
                </div> <!-- media -->
            </div><!-- col-md-6 --> 
            <div class="col-md-6">
                <div class="media align-items-center mb-5">
                    <div class="media-head primary-bg">
                        <span><sub>NOV</sub>25</span>
                        <p>2018</p>
                    </div>
                    <div class="media-body">
                        <h4><a href="#">Edustar Autumn</a></h4>
                        <p><i class="fa fa-clock-o"></i>05:23 AM - 09:23 AM</p>
                    </div>
                </div> <!-- media -->
            </div><!-- col-md-6 -->  
            <div class="col-md-6">
                <div class="media align-items-center mb-5">
                    <div class="media-head primary-bg">
                        <span><sub>DEC</sub>25</span>
                        <p>2018</p>
                    </div>
                    <div class="media-body">
                        <h4><a href="#">Workshop PHP</a></h4>
                        <p><i class="fa fa-clock-o"></i>05:23 AM - 09:23 AM</p>
                    </div>
                </div> <!-- media -->
            </div><!-- col-md-6 -->   
        </div><!-- row -->
    </div><!-- container -->
</div>
<!-- events area end --> 

